body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.vl {
    height: 40px;
    border: 1px solid #999;
}

.landing-page {
    background-color: #39b6f0;
}

.hero {
    background-image: url("/assets/img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-landing-page {
    padding: 0px 100px;
}

.survey-promo {
    background-color: #f7fafc;
}

.register-soon {
    background-color: #6dc8f2;
}

.services hr {
    width: 10%;
    border: 5px solid #f7931b;
}

.btn-orange {
    background-color: #f7931b;
}

.btn-orange:hover {
    background-color: #ffa840;
}

.text-orange {
    color: #f7931b;
}

footer {
    background-color: #39b6f0;
}

.hero-about {
    background-image: url("/assets/img/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topic-card {
    height: 150px;
    border-radius: 16px;
}

.vision-mission {
    background-color: #f6f8fd;
}

.hr-vm {
    width: 5%;
    border: 3px solid #39b6f0;
}

.hr-vm-orange {
    width: 100px;
    border: 3px solid #f7931b;
}

/* Auth */
.sign-in-form {
    height: 100vh;
}

.sign-in-left {
    background-color: #39b6f0 !important;
}

.sign-in-right {
    padding: 10% 10% !important;
}

.sign-up-form {
    height: 100vh;
}

.sign-up-left {
    background-color: #39b6f0 !important;
}

.sign-up-right {
    padding: 3% 5% !important;
}

.forgot-password-form {
    height: 100vh;
}

.forgot-password-left {
    background-color: #39b6f0 !important;
}

.forgot-password-right {
    padding: 16% 10% !important;
}

.ellipse {
    left: 25%;
}
/* End Auth */

.comparison-price {
    background-color: #f7fafc;
}
