html {
    scroll-behavior: smooth;
  }

  
  body {
    height: 100%; font-family: 'Calibri', sans-serif;
  }
  
  .btn-login:hover {
      color: #39B6F0 !important;
  }
  
  .btn-login:active, .btn-sign-up:hover, .btn-get-started:hover {
      background-color: #C4C4C4 !important;
  }
  
  .btn-sign-up, .btn-get-started {
      background-color: #fff !important;
      color: #39B6F0 !important;
  }
  
  .btn-sign-up:active, .btn-get-started:active {
      background-color: #aaa !important;
  }
  
  .buletan-hijau {
      position: absolute;
      bottom: 28px;
      left: 10px;
      margin-left: 35%;
      margin-bottom: 24px;
  }

  .buletan-hijau-forget {
    position: absolute;
    bottom: 28px;
    left: 10px;
    margin-left: 35%;
    margin-bottom: 260px;
}

.buletan-hijau-register {
      position: absolute;
      left: 50px;
      margin-left: 35%;
      top: 100%;
      margin-top: 24.7%;
}
  
  .buletan-oren {
      position: absolute;
      bottom: 200px;
      left: 10px;
      margin-left: 15%;
      margin-bottom: 35px;
  }
  
  .buletan-oren-forget {
    position: absolute;
    bottom: 60px;
    left: 10px;
    margin-left: 15%;
    margin-bottom: 300px;
}

.buletan-oren-register {
    position: absolute;
    top: 98%;
    left: 10px;
    margin-left: 15%;
    margin-bottom: 80px;
}

  .slogan {
      font-family: 'Playfair Display', serif;
  }
  
  .sub-slogan {
      color: #C4C4C4;
  }
  
  .login, .sign-up {
      background-color: #fff !important;
      box-shadow: 0px 0px 16px #C4C4C4;
      border-radius: 8px;
  }
  
  .login-left {
      background-color: #39B6F0 !important;
      padding: 10% 0px !important;
      border-radius: 8px;
  }
  
  .login-right {
      padding: 10% 10% !important;
  }
  
  .login-right > h1, .sign-up-right > h1 {
      color: #39B6F0 !important;
  }
  
  .login-right > p, .sign-up-right > p {
      color: #C4C4C4 !important;
  }
  
  .forgot-pass, .text-sign-up, .text-login {
      color: #39B6F0 !important;
      text-decoration: none;
  }
  
  .forgot-pass:hover, .text-sign-up:hover, .text-login:hover {
      color: rgb(0, 50, 100) !important;
      text-decoration: underline;
  }
  
  .forgot-pass:active, .text-sign-up:active, .text-login:active {
      color: rgb(0, 25, 50) !important;
      text-decoration: underline;
  }
  
  .btn-login-form, .btn-sign-up-form {
      width: 100%;
      background-color: #39B6F0 !important;
      color: #fff !important;
  }
  
  .btn-login-form:hover, .btn-sign-up-form:hover {
      background-color: rgb(0, 50, 100) !important;
  }
  
  .btn-login-form:active, .btn-sign-up-form:active {
      background-color: rgb(0, 25, 50) !important;
  }
  
  .sign-up-left {
      background-color: #39B6F0 !important;
      padding: 12% 0px !important;
      border-radius: 8px;
  }
  
  .sign-up-right {
      padding: 3% 5% !important;
  }html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Calibri', sans-serif;
}

.btn-login:hover {
    color: #39B6F0 !important;
}

.btn-login:active, .btn-sign-up:hover, .btn-get-started:hover {
    background-color: #C4C4C4 !important;
}

.btn-sign-up, .btn-get-started {
    background-color: #fff !important;
    color: #39B6F0 !important;
}

.btn-sign-up:active, .btn-get-started:active {
    background-color: #aaa !important;
}

.slogan {
    font-family: 'Playfair Display', serif;
}

.sub-slogan {
    color: #C4C4C4;
}

.login, .sign-up {
    background-color: #fff !important;
    box-shadow: 0px 0px 16px #C4C4C4;
    border-radius: 8px;
}

.login-left {
    background-color: #39B6F0 !important;
    padding: 10% 0px !important;
    border-radius: 8px;
}

.login-right {
    padding: 10% 10% !important;
}

.login-right > h1, .sign-up-right > h1 {
    color: #39B6F0 !important;
}

.login-right > p, .sign-up-right > p {
    color: #C4C4C4 !important;
}

.forgot-pass, .text-sign-up, .text-login {
    color: #39B6F0 !important;
    text-decoration: none;
}

.forgot-pass:hover, .text-sign-up:hover, .text-login:hover {
    color: rgb(0, 50, 100) !important;
    text-decoration: underline;
}

.forgot-pass:active, .text-sign-up:active, .text-login:active {
    color: rgb(0, 25, 50) !important;
    text-decoration: underline;
}

.btn-login-form, .btn-sign-up-form {
    width: 100%;
    background-color: #39B6F0 !important;
    color: #fff !important;
}

.btn-login-form:hover, .btn-sign-up-form:hover {
    background-color: rgb(0, 50, 100) !important;
}

.btn-login-form:active, .btn-sign-up-form:active {
    background-color: rgb(0, 25, 50) !important;
}

.sign-up-left {
    background-color: #39B6F0 !important;
    padding: 12% 0px !important;
    border-radius: 8px;
}

.sign-up-right {
    padding: 3% 5% !important;
}